{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-form">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href = {% url 'create_task' %}>Create a new task</a>
            </p>
            {% if project.tasks.all.count != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in project.tasks.all %}
                            <tr>
                                <td>{{ p.name }}</td>
                                <td>{{ p.assignee }}</td>
                                <td>{{ p.start_date |date:"n/d/Y" }}</td>
                                <td>{{ p.due_date |date:"n/d/Y" }}</td>
                                <td>{{ p.is_completed | yesno:"yes, no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
